DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_BASE64=
GOOGLE_SHEETS_SPREADSHEET_ID=

ADMIN_EMAIL=
ADMIN_PASSWORD=
VPS_ROOT_USER=root
VPS_ROOT_PASSWORD=
VERCEL_PROJECT_URL=
